.searchbox {
    padding: 10px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: inline-block;
}

.searchbox select {
    padding: 20px;
    font-size: larger;
    margin-right: 10px;
    border-radius: 4px;
    border: 1px solid #cde599;
}

.searchbox button {
    padding: 10px 20px;
    background-color: #cde599;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.searchbox button:hover {
    background-color: #cde599;
}

.booklist {
    display: inline-block;
    width: 100%;
    height: 690px;
    margin-top: 10px;
    border-left: black;
    overflow-y: scroll; /* Enable vertical scrolling */
    box-sizing: border-box; /* Ensure padding and border are included in the element's total width and height */
    padding: 1% 10%; /* Optional: Add padding if needed */
    background-color: #cde599;
    border-radius: 20px;
}

.booklist img {
    width: 40px;
    overflow-y: scroll; /* Enable vertical scrolling */
}

.container h2 {
    text-align: right;
    color: 595959;
    margin-right: 5%;
}

.bookstoreinfo {
    background-color: #ffffff;
    padding: 15px 40px;
    padding-bottom: 40px;
    border-radius: 8px;
    border-left-style: solid;
    border-left-width: 20px;
    margin-bottom: 20px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
}
.bookstoreinfo h3 {
    font-weight: bolder;
    font-size: 150%;
    color: #cde599;
}
.bookstoreinfo p {
    margin: 5px 0;
    font-family: Arial, Helvetica, sans-serif;
}

button.search-option {
    background-color: #cde599;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button.search-option:hover {
    background-color: #cde599;
}

.container span {
    color: white;
    font-size: 30px;
    font-weight: 1000;
    margin-right: 3%;
}
