.bookstore-container {
    background-color: #cde599; /* Soft olive color background */
    padding: 20px;
    text-align: center;
    width: 1820;
    height: 832px;
    font-family: 'DNF Forged Blade';
}
